.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.image-section, .text-section {
  flex: 1;
  min-width: 300px;
}

.image-section {
  background-color: white;
  text-align: center;
}

.image {
  max-width: 200px;
  height: auto;
  margin-top: 2rem;
}

.text-section {
  padding: 20px;
}

.text-section p {
  margin: 5px 0;
  font-size: 20px;
  margin-top: 1rem;
}

.text-section h1 {
  margin: 5px 0;
  font-size: 45px;
  font-family: "STIX Two Text", serif;
  font-weight: 200;
  color: rgba(114, 51, 38, 1);
}

.download-section a {
  text-decoration: none;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .container {
      width: 90%;
  }

  .image {
      max-width: 200px;
  }

  .text-section h1 {
      font-size: 35px;
  }

  .text-section p {
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .image {
      max-width: 150px;
  }

  .text-section {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
  }

  .text-section h1 {
      font-size: 28px;
  }

  .text-section p {
      font-size: 16px;
  }

  .download-section {
      margin-top: 20px;
  }
}
