/* Background Section Styles */
.background-section {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Black overlay with 30% opacity */
    z-index: 1;
}

/* Overlay Text Styles */
.overlay-text-distributor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
    font-size: 50px;
}

/* Distributor Container Styles */
.distributor-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}

/* Distributor Details Styles */
.distributor-details {
    background-color: #f9f9f9;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.distributors-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Content Text Styles */
.distributor-content {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    text-align: center;
    margin-top: 0.5rem;
}

/* Icon Styles */
.distributor-content svg {
    vertical-align: middle;
    margin-right: 8px;
    color: brown;
}

/* Responsive Design */
@media (max-width: 768px) {
    .distributor-details {
        width: 100%;
    }
}
