.White-Background {
  background-color: white;
  height: 800px;
  position: relative; /* Add relative positioning */
}

.Partner-background-container {
  background-image: url('../assets/qvevrebi.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 371px;
  position: absolute; /* Position absolute to be positioned relative to White-Background */
  bottom: 0; /* Align at the bottom */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0; /* Remove margin-top to avoid pushing it down */
}

.Partner-overlay {
  background: rgba(250, 248, 245, 1); /* Semi-transparent overlay */
  color: black;
  width: 60%;
  height: 350px;
  padding: 20px;
  text-align: center;
  margin-bottom: 15rem;
}

.Partner-overlay h2 {
  font-size: 3rem;
  font-family: "STIX Two Text", serif;
  color: rgba(114, 51, 38, 1);

}



.Partner-overlay p {
  margin: 0;
  font-size: 50px;
  font-family: "STIX Two Text", serif;
}

.Partners-Partners {
  margin-top: 2rem;
}

.Partners-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; /* Space between rows */
}

.Partners-row.single {
  justify-content: center; /* Ensure the single partner is centered */
}

.Partners-Partners img {
  width: 200px;
  height: 130px;
  margin: 0 1.5rem; /* Adjusted margin for even spacing */
}

.Partners-Partners img:last-child {
  margin-right: 0; /* Remove right margin from the last image in the row */
}

@media (max-width: 1208px) {
  .Partner-background-container {
    height: 50vh; 
  }

  .Partner-overlay {
    width: 80%; 
    padding: 10px;
    height: 500px;
  }

  .Partners-row {
    flex-direction: column;
    align-items: center;
  }

  .Partners-Partners img {
    width: 150px;
    height: 100px;
    margin: 0.5rem 0;
  }
}
